html {
  line-height: 1.5;
  box-sizing: border-box;
  background-color: #dbd6cf;
}

header {
  display: block;
}

body {
  background-color: #79756f;
  border: 3px solid #595652;
  margin: .3em;
}

nav {
  list-style-type: none;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Bevan", sans-serif;
  text-align: center;
  color: #fff;
}

ul {
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
}

li {
  display: inline-block;
  background-color: #713837;
  color: white;
  padding: .6em .5em .75em;
  margin: .3em;
  border-radius: 10px;
}

li:hover {
  background-color: #f33;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: #f33;
}
